

body{
    line-height: 1.5;
   

}

#nav .nav-link:focus{
    border: 3px solid #d73e4d5d;
}

 .items ol .active-page{
    color: #d73e4d;
    font-weight: 600;
}
.items ol a{
    color: black;
}
.items ol a:focus{
    outline:none;
}
#support{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(61, 60, 60, 0.678);
    z-index: 999999;
    display: none;
    overflow-y: auto;
}
#close{
    position: absolute;
    right: 20px;
    top: -20px;
    font-size: 27px;
    cursor: pointer;
}

#support ol {
    list-style: none; 
    counter-reset: li;
    font-size: larger;
}
#support li::before {
    content: counter(li);
     color: #dc3545;
    display: inline-block;
     width: 1em;
    margin-left: -1em;
}
#support li {
    counter-increment: li;
}

