
/*/////////////////////////// general */
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a{
    text-decoration: none;
}
.btn-link{
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5;
    
}

/* ///////////////////////////////////////////////////////////////////// */

/* ////////////////left side //////////////////*/
#left-side{
    float: left;
    width: 20%;
    height: 100%;
    overflow: hidden;
    border-right: solid 1px #dddddd;
    box-shadow: -1px -2px 2px #f3f3f3 inset;
}
#left-side .box-side{
    width: 100%;
    border-bottom: 1px solid #dddddd;
    /* display: inline; */
}
#left-side .box-side .head{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 2rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0rem;
    padding : 0rem 0.5rem 0rem;
    /* vertical-align: middle; */
}
#left-side .box-side a{
    color: #6c757d !important;
}
#left-side .box-side .btn-item{
    vertical-align: middle;
}
#left-side .box-side .btn-sm{
    padding: 0.25rem 0.25rem;
}
#left-side .box-side .btn-link:hover{
    text-decoration: none;
}
#left-side .box-side i{
    margin-right: .25rem;
    font-size: 11px;
}
#left-side .box-side .items{
    padding: .5rem 0;
    overflow-x: hidden;
}
#left-side .box-side .items ol{
    padding: .5rem 0 2rem;
    color: #555;
    font-size: 13px;
    margin-top: 0;
}
#left-side .box-side .items ol li{
    position: relative;
    margin-left: 2rem;
    margin-bottom: 0.4rem;
    list-style: none;
    color: #555;
    overflow: hidden;
    cursor: pointer;
    /* transition: color  .5s; */
    /* line-height: 1.5; */
}
#left-side .box-side .items ol li:hover{
    color: #007bff;
}
.box-side .items ol li span{
    line-height: 1.7rem;
}
#left-side .box-side .items i{
    font-size: 18px;
    font-weight: lighter;
    color: grey;
}


#left-side .box-drag .head{
   background-color: #fafafa;
   /* padding: 1rem 0; */
}
#left-side .box-drag{
    border-bottom: 1px solid #dee2e6;
}
#left-side .box-drag .nav-tabs:active{
    color: #007bff;
}    
#left-side .box-drag .head li .active{
    border: 1px solid #ddd;
}
#left-side .box-drag .head li .not
{
    color: #777;
    /* border-right: none; */
    margin-left: .5rem;
}
#left-side .box-drag .head li #blocks:hover
{
    color: #007bff;
}
#left-side #blocks{
    border-right: none;
}
/* search bar */
#left-side .box-drag .head .search-content
{
    position: relative;
}
#left-side .box-drag .head .search-content .clear
{
    position: absolute;
    border: none;
    background: none;
    top: 10px;
    right: 7px;
    opacity: .5;
    font-size: 11px;
}
.component-list li{
    color: #007bff;
    cursor: pointer;
    font-size: 11px;
    text-align: left;
    margin: 20px 0;
    list-style: none;
}
/* ////////////////main section */
 #main-section{
     /* width: 50%; */
     position: relative;
 }

/* //////////////////index2 //////////*/
#main-section ifram{
    width: 100px;
    height: 100%;
    border: none;
}

.master-head{
    position:relative;
    background-color:#343a40;
    background-image :url(../img/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding-top:8rem;
    padding-bottom:8rem;
}
.master-head .overlay{
    background-color:#212529;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0.3;
}
.master-head h1{
    font-size:2rem
}

@media (min-width:768px)
{
 .master-head{
    padding-top:12rem;
    padding-bottom:12rem
 }
 .master-head h1{
    font-size:2.5rem
 }
}
.showcase .showcase-text{
    padding:3rem
}
.showcase .showcase-img{
    min-height:30rem;
    background-size:cover
}
@media (min-width:768px)
 {
.showcase .showcase-text{
    padding:7rem
 }
}
/* icons */
.icons{
    padding-top:7rem;
    padding-bottom:7rem;
}
.icons .icons-item{
    max-width:20rem
}
.icons .icons-item .icons-icon{
    height:7rem
}
.icons .icons-item .icons-icon i{
    font-size:4.5rem
}
.icons .icons-item:hover .icons-icon i{
    font-size:5rem
}
.testimonials{
   padding-top:7rem;
   padding-bottom:7rem;
}
.testimonials .testimonial-item{
    max-width:12rem;
}
.testimonials .testimonial-item img{
    max-width:12rem;
   -webkit-box-shadow:0 5px 5px 0 #adb5bd;
   box-shadow:0 5px 5px 0 #adb5bd ;
}
.call-to-action
{
  position:relative;
  background-color:#343a40;
  background:url(../img/bg-masthead.jpg) no-repeat center center;
  background-size:cover;
  padding-top:7rem;
  padding-bottom:7rem;
}

.call-to-action .overlay{
  position:absolute;
  background-color:#212529;
  height:100%;
  width:100%;
  top:0;
  left:0;
  opacity:0.3;
}

.footer{
    padding-top:4rem;
    padding-bottom:4rem;
}
