body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    animation: fade 1s ease-in both;
    overflow-x: hidden;
   
}
@keyframes fade{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-weight: 700;
}

.title .btn , .build .btn , .stunning-templates .btn , .drag-drop .btn , .mobile .btn{ 
    box-shadow: 0px 1px 8px hsla(192, 100%, 9%, 0.295);
    border-color: rgba(215,62,77,0.7) !important;
    color:white !important;
    background-color: #d73e4d !important;
    font-weight: 600;
    letter-spacing: 0.2rem;

}


.build .btn:hover , .drag-drop .btn:hover , .stunning-templates .btn:hover , .mobile .btn:hover ,.title .btn:hover  {
    background-color:white !important;
    color: rgba(215,62,77,0.7) !important;
}


.title .btn:active, .build .btn:active , .stunning-templates .btn:active , .drag-drop .btn:active , .mobile .btn:active{
    border-color: rgba(215,62,77,0.7) !important;
    background-color: #d73e4d !important;
    color: white !important;
    box-shadow: 0px 1px 8px hsla(192, 100%, 9%, 0.295);

}

.title h1,.build h3{
    font-weight: bold;
    font-size: 2.5rem;
}



/* --------------------------wavy background of sections----------------- */

.stunning-templates,.mobile{
    position: relative;
    background-color: #f7d8db;
}
 .drag-drop {
   overflow: hidden;
}
.stunning-templates::before{
    content: "";
    background-image: url(../images/top.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top:-99%;
    
}
.stunning-templates::after {
    content: " ";
    background-image: url(../images/bottom.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top:55%;
   
}


.mobile::before{
    content: "";
    background-image: url(../images/top.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top:-99%;
    

}
.mobile::after{

    content: " ";
    background-image: url(../images/bottom.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top:55%;
    
} 



.stunning-templates,.mobile{
height: 800px;
}
.drag-drop{
height: 850px;
}

.stunning-templates img , .drag-drop img , .mobile img{
display: none;
}
.img-right,.img-left{
position: absolute;
top: 0%;
}
.details-left{
position: absolute;
top: 80%;
left: -100%;
}
.img-left{
left: 0;
}
.details-right{
position: absolute;
top:80%;
right: -100%;
}


/**********************      tablet size    *************************/
@media screen and (min-width:768px){
    .title h1,.build h3{
        font-size: 3.5rem;
    }
  
    .stunning-templates::after {
        top:70%;
    }
    
    .mobile::after{
        top:65%; 
    } 
.stunning-templates,.mobile{
    height: 400px;
}
.drag-drop{
    height: 700px;
}

.img-right,.img-left{
    right: 0;
    top: 5%;
}
.details-left{
    top:5%;
    left: -70%;
}
.img-left{
    left: 0;
}
.details-right{
    top:5%;
    right: -70%;
}

}

/* ----------------desktop wavy section background design----------------------- */

@media screen and (min-width:992px){
    

.stunning-templates,.mobile{
    height: 500px;
}
.drag-drop{
    height: 800px;
}

.img-right,.img-left{
    top: 0;
}
.details-left,.details-right{
    top:20%;
}

}
@media screen and (min-width:1025px){
    .stunning-templates::before,.mobile::before{
        top:-90%;
    }   
    .stunning-templates::after {
        top:80%;
    } 
}
